name: Deploy to Server via SFTP

on:
  push:
    branches:
      - master
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Deploy to Server via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          server: 35.159.190.103
          username: dashm18664
          password: ${{ secrets.SFTP_PASSWORD }}
          port: 22
          local_path: ./
          remote_path: /home/dashm18664/sites/dashm.mytesting.store/htdocs/wp-content/plugins/
          sftp_only: true
          delete_remote_files: false
          args: '-o ConnectTimeout=5'
